absl-py==0.9.0
astor==0.8.1
astroid==1.6.6
atomicwrites==1.3.0
attrs==19.3.0
backcall==0.1.0
blis==0.2.4
boto==2.49.0
boto3==1.12.16
botocore==1.15.16
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
de-core-news-sm==2.1.0
decorator==4.4.2
dill==0.3.1.1
docutils==0.15.2
ekphrasis==0.5.1
emoji==0.5.4
ftfy==5.7
funcy==1.14
future==0.18.2
gast==0.2.2
gensim==3.8.1
germalemma==0.1.3
google-auth==1.11.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
googleapis-common-protos==1.51.0
grpcio==1.27.2
h5py==2.10.0
idna==2.9
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
jupyter-client==6.0.0
jupyter-core==4.6.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
langdetect==1.0.7
lazy-object-proxy==1.4.3
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
more-itertools==8.2.0
murmurhash==1.0.2
networkx==2.4
nltk==3.3
numexpr==2.7.1
numpy==1.18.1
oauthlib==3.1.0
opt-einsum==3.2.0
packaging==20.3
pandas==0.24.2
parso==0.6.2
PatternLite==3.6
pickleshare==0.7.5
Pillow==7.0.0
plac==0.9.6
pluggy==0.13.1
preshed==2.0.1
promise==2.3
prompt-toolkit==3.0.4
protobuf==3.11.3
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.6.1
pyLDAvis==2.1.2
pylint==1.8.4
pyparsing==2.4.6
Pyphen==0.9.5
pytest==5.3.5
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
pywin32==227
pyzmq==19.0.0
regex==2020.1.8
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
s3transfer==0.3.3
scikit-image==0.13.1
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.8.1
six==1.14.0
sklearn==0.0
smart-open==1.9.0
spacy==2.1.8
srsly==1.0.2
tensorboard==2.0.1
tensorflow==2.0.0
tensorflow-datasets==2.1.0
tensorflow-estimator==2.0.1
tensorflow-metadata==0.21.1
tensorflow-serving-api==2.0.0
termcolor==1.1.0
thinc==7.0.8
tornado==6.0.4
tqdm==4.38.0
traitlets==4.3.3
ujson==2.0.1
urllib3==1.25.8
wasabi==0.6.0
wcwidth==0.1.8
Werkzeug==1.0.0
wrapt==1.12.1
zipp==3.1.0
